$charcoal-color: #353a47;
$charcoal-color-light: #4a505f;
$charcoal-color-lighter: #5f6675;

$rose-taupe-color: #885a5a;

$spanish-pink-color: #f7c1bb;
$dark-sea-green-color: #84b082;
$dogwood-rose-color: #dc136c;